/******************************************************************************
* MAP
******************************************************************************/
/* Make the map full screen */
#map {
  height: calc(100vh - 122px) !important;
}

/* Custom Leaflet delete button */
.delete-button {
  background: url('https://img.icons8.com/android/24/000000/trash.png') no-repeat;
  background-color: #FFF;
  background-size: 60% 60%;
  background-position: center;

  height: 30px;  
  width: 30px;
}

/******************************************************************************
* Data
******************************************************************************/
.center {
  text-align: center;
}

#download_data {
  background-color: #357ca5;
  color: #fff;
  margin: 10px;
}

/******************************************************************************
* SIDEBAR
******************************************************************************/
/* Add scroll to sidebar if longer than page length */
.sidebar {
  height: 90vh; 
  
  overflow-x: auto;
  overflow-y: auto;
}

/* Style the dropdown menus (force down and no wider than sidebar) */
.dropdown-menu.open {
  top: 100%;
  bottom: auto;
  width: 100%;
}

/* Reduce bottom margin for input groups */
.form-group {
    margin-bottom: -5px;
}

/* Indent help blocks to align with inputs */
.help-block {
  padding-left: 15px;
}


/******************************************************************************
* NAVBAR
******************************************************************************/
/* Set button colors to match navbar (and change on hover) */
#github_button, #data_source_button, #help_button {
  background-color: #357ca5;
  border-color: #357ca5;
  border-width: 0px;
  color: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
}

#github_button:hover, #data_source_button:hover, #help_button:hover {
  background-color: #f4f4f4;
  border-color: #f4f4f4;
}

/******************************************************************************
* SIDEBAR AND NAVBAR
******************************************************************************/
/* Give space for longer title */
.main-header .logo {
  min-width: 325px;
}
.main-header .navbar-static-top {
  margin-left: 325px;
}

/* Remove changes when navbar transitions to two lines */
@media (max-width: 767px) {
  .main-header .navbar-static-top {
    margin: 0;
  }
}

/* Navbar and Sidebar Button Color */
.skin-blue .main-header .navbar .sidebar-toggle {
  background-color: #357ca5;
  color: #fff;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #222d32;
  color: #fff;
}

.skin-blue .main-header .navbar {
  background-color: #357ca5;
}


/******************************************************************************
* LOADING MODAL
******************************************************************************/
.modal-body {
  text-align: center;
}

.modal-dialog {
  position: relative;
  top: 40%;
}


/******************************************************************************
* HELP
******************************************************************************/
.introjs-helperLayer {
  opacity: 0.7;
}

/* Adjust step number position */
.introjs-helperNumberLayer {
  top: 0px;
  left: 0px;
}
