/* Style the dropdown menus (force down and no wider than sidebar) */
.dropdown-menu.open {
  top: 100%;
  bottom: auto;
  width: 100%;
}

/* Custom Leaflet delete button */
.delete-button {
  background: url('https://img.icons8.com/android/24/000000/trash.png') no-repeat;
  background-color: #FFF;
  background-size: 60% 60%;
  background-position: center;

  height: 30px;  
  width: 30px;
}

/* Indent help blocks to align with inputs */
.help-block {
  padding-left: 15px;
}